# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

credentials.py
.idea/workspace.xml
.idea/modules.xml
.idea/misc.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/ToscaDeliciosa.iml

data/
